<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MotoParks Watch App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MotoParks Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MotoParks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E52688A91D20ED4800990737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E52688BD1D20ED4800990737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E52688C81D20ED4800990737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5BB2A7F1D40D37C0035F76C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
